{% extends "demo_translation/layout.html.twig" %}

{% block content %}
    <h2>Product {{ entity.id ? 'Edition' : 'Creation' }}</h2>

    {{ form(editForm) }}

    <div class="record_actions">
        <a class="btn btn-default" href="{{ path('knp_backend_product') }}">
            Back to the list
        </a>
        {% if entity.id %}
            {{ form(deleteForm) }}
        {% endif %}
    </div>
{% endblock %}