{% extends 'backend/layout.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block content %}
    <h1>Edit Product</h1>

    {{ form(form) }}

    <div class="record_actions">
        {{ form(deleteForm) }}
        <a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('knp_backend_product_index') }}">Back to list</a>
    </div>
{% endblock %}