{% extends "A2lixDemoTranslationBundle:Backend:layout.html.twig" %}

{% block content %}
    <h2>ProductGedmo {{ entity.id ? 'Edition' : 'Creation' }}</h2>

    {{ form(editForm) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('backend_productGedmo') }}">
                Back to the list
            </a>
        </li>
        {% if entity.id %}
        <li class="delete">
            {{ form(deleteForm) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}