{% extends 'base.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Demo</h1>
        <p class="lead">Some examples to help</p>
        <hr class="my-4">
        <ul>
            <li><a href="{{ path('backend_company_index') }}">Manage Company with A2lixTranslationsForm & KnpDoctrineBehavior</a> <i>(TranslationsType, TranslationsFormsType inside)</i></li>
            <li><a href="{{ path('backend_product_index') }}">Manage Product with A2lixTranslationsForm & KnpDoctrineBehavior</a> <i>(TranslationsType, TranslatedEntityType inside)</i></li>
        </ul>
    </div>
{% endblock %}
