{% extends 'base.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Demo</h1>
        <p class="lead">Some examples of AutoFormBundle, TranslationFormBundle & a2lix/symfony-collection library</p>
        <hr class="my-4">
        <ul>
            <li><a href="{{ path('backend_product_index') }}">Examples with Gedmo (Product related)</a></li>
            <li><a href="{{ path('backend_company_index') }}">Examples with KnpDoctrineBehavior (Company related)</a></li>
        </ul>
    </div>
{% endblock %}
