<nav class="locale-switcher">
    {% for locale in locales %}
        <a class="pr-3 {% if app.request.locale == locale %}active{% endif %}" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : locale})) }}">{{ locale|upper }}</a>
    {% endfor %}
</nav>
