{% extends "demo_translation/layout.html.twig" %}

{% block content %}
    <p>Actions:</p>
    <ul>
        <li><a href="{{ path('knp_backend_product', { '_locale': 'en' }) }}">Manage Product</a></li>
    </ul>
{% endblock %}